<div class="tile py-2 px-2 cart-dim">
  <div class="tile-content px-2 py-2">
    <div class="d-inline">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/81xBMko7CZL._AC_SL1500_.jpg"
        class="img-responsive float-left cart-img px-2"
      />
      <h6 class="tile-title">Item Name</h6>
      <p class="tile-subtitle text-italic">Item Description</p>
    </div>
  </div>
  <div class="tile-action px-2 py-2">
    <button class="btn btn-primary text-center item-del">
      <i class="typcn typcn-trash"></i>
    </button>
  </div>
</div>
<div class="tile py-2 px-2 cart-dim">
  <div class="tile-content px-2 py-2">
    <div class="d-inline">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/81zEo-WYqWL._AC_SL1500_.jpg"
        class="img-responsive float-left cart-img px-2"
      />

      <h6 class="tile-title">Item Name</h6>

      <p class="tile-subtitle text-italic">Item Description</p>
    </div>
  </div>
  <div class="tile-action px-2 py-2">
    <button class="btn btn-primary text-center item-del">
      <i class="typcn typcn-trash"></i>
    </button>
  </div>
</div>
<div class="tile py-2 px-2 cart-dim">
  <div class="tile-content px-2 py-2">
    <div class="d-inline">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/81qTAErL4RL._AC_SL1500_.jpg"
        class="img-responsive float-left cart-img px-2"
      />

      <h6 class="tile-title">Item Name</h6>

      <p class="tile-subtitle text-italic">Item Description</p>
    </div>
  </div>
  <div class="tile-action px-2 py-2">
    <button class="btn btn-primary text-center item-del">
      <i class="typcn typcn-trash"></i>
    </button>
  </div>
</div>
