<div class="navbar">
  <section class="navbar-section">
    <a href="shop.html" class="btn btn-link text-dark nav-link active">shop</a>
    <a href="#" class="btn btn-link text-dark nav-link">faqs</a>
  </section>
  <section class="navbar-center">
    <a href="index.html" class="navbar-brand text-dark mr-2"
      ><!--<img
        class="img-responsive img-fit-contain p-centered site-logo p-2"
        src="https://www.davidbenrimon.com/files-wide/uploads/logo-placeholder@2x.png"
    />-->
      made from the art.</a
    >
  </section>
  <section class="navbar-section">
    <a href="contact.html" class="btn btn-link text-dark nav-link"
      >contact us</a
    >
  </section>
</div>
