<div class="col-4 col-mx-auto py-2 px-2">
  <div class="card">
    <div class="card-image">
      <img
        id="item1"
        src="https://images-na.ssl-images-amazon.com/images/I/81zEo-WYqWL._AC_SL1500_.jpg"
        class="img-responsive img-fit-contain p-centered item-img"
      />
    </div>
    <div class="card-header">
      <button
        class="btn btn-primary float-right addToCart"
        onclick="addItem(document.getElementsByClassName('item-img')[0].id)"
      >
        <i class="typcn typcn-plus"></i>
      </button>
      <div class="card-title h6">Item Name</div>
      <div class="card-subtitle text-small text-gray">Vendor Name</div>
    </div>
    <div class="popover popover-top">
      <div class="card-body text-italic text-small">
        Made from 100% vegan materials.
      </div>
      <div class="popover-container">
        <div class="card">
          <div class="card-body text-small">
            Cupcake ipsum dolor sit amet chupa chups danish. Topping oat cake
            cookie bear claw oat cake cheesecake cake marzipan jujubes. Bear
            claw pudding macaroon gummi bears candy canes. Gummi bears apple pie
            tart marshmallow tiramisu chupa chups cookie brownie.
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <small class="text-small text-italic text-gray"
          >Hover for more info.</small
        >
      </div>
    </div>
  </div>
</div>
<div class="col-4 col-mx-auto py-2 px-2">
  <div class="card">
    <div class="card-image">
      <img
        id="item2"
        src="https://images-na.ssl-images-amazon.com/images/I/81xBMko7CZL._AC_SL1500_.jpg"
        class="img-responsive img-fit-contain p-centered item-img"
      />
    </div>
    <div class="card-header">
      <button
        class="btn btn-primary float-right"
        onclick="addItem(document.getElementsByClassName('item-img')[1].id)"
      >
        <i class="typcn typcn-plus"></i>
      </button>
      <div class="card-title h6">Item Name</div>
      <div class="card-subtitle text-small text-gray">Vendor Name</div>
    </div>
    <div class="popover popover-top">
      <div class="card-body text-italic text-small">
        Made from 100% vegan materials.
      </div>
      <div class="popover-container">
        <div class="card">
          <div class="card-body text-small">
            Sweet roll apple pie chocolate bar cotton candy icing cheesecake
            marshmallow. Cake pastry gingerbread. Wafer bear claw danish brownie
            chocolate cake.
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <small class="text-small text-italic text-gray"
          >Hover for more info.</small
        >
      </div>
    </div>
  </div>
</div>
<div class="col-4 col-mx-auto py-2 px-2">
  <div class="card">
    <div class="card-image">
      <img
        id="item3"
        src="https://images-na.ssl-images-amazon.com/images/I/81V5TpkGtjL._AC_SL1500_.jpg"
        class="img-responsive img-fit-contain p-centered item-img"
      />
    </div>
    <div class="card-header">
      <button
        class="btn btn-primary float-right"
        onclick="addItem(document.getElementsByClassName('item-img')[2].id)"
      >
        <i class="typcn typcn-plus"></i>
      </button>
      <div class="card-title h6">Item Name</div>
      <div class="card-subtitle text-small text-gray">Vendor Name</div>
    </div>
    <div class="popover popover-top">
      <div class="card-body text-italic text-small">
        Made from 100% vegan materials.
      </div>
      <div class="popover-container">
        <div class="card">
          <div class="card-body text-small">
            Muffin topping marshmallow chocolate cake sweet roll cookie. Icing
            dessert donut pie marshmallow. Carrot cake soufflé chocolate bar
            toffee dessert.
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <small class="text-small text-italic text-gray"
          >Hover for more info.</small
        >
      </div>
    </div>
  </div>
</div>
<div class="col-4 col-mx-auto py-2 px-2">
  <div class="card">
    <div class="card-image">
      <img
        id="item4"
        src="https://cdn11.bigcommerce.com/s-xbxzkajw15/images/stencil/1280x1280/products/133/435/gum_arabic_powder__19676.1561552978.jpg?c=2"
        class="img-responsive img-fit-contain p-centered"
      />
    </div>
    <div class="card-header">
      <button
        class="btn btn-primary float-right addToCart item-img"
        onclick="addItem(document.getElementsByClassName('item-img')[3].id)"
      >
        <i class="typcn typcn-plus"></i>
      </button>
      <div class="card-title h6">Item Name</div>
      <div class="card-subtitle text-small text-gray">Vendor Name</div>
    </div>
    <div class="popover popover-top">
      <div class="card-body text-italic text-small">
        Made from 100% vegan materials.
      </div>
      <div class="popover-container">
        <div class="card">
          <div class="card-body text-small">
            Sweet cake cotton candy biscuit brownie danish marzipan. Cake
            fruitcake marzipan cake ice cream chupa chups cotton candy jelly-o
            fruitcake. Bonbon sweet roll wafer cookie.
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <small class="text-small text-italic text-gray"
          >Hover for more info.</small
        >
      </div>
    </div>
  </div>
</div>
<div class="col-4 col-mx-auto py-2 px-2">
  <div class="card">
    <div class="card-image">
      <img
        id="item5"
        src="https://images-na.ssl-images-amazon.com/images/I/81UD91Scf8L._SL1500_.jpg"
        class="img-responsive img-fit-contain p-centered item-img"
      />
    </div>
    <div class="card-header">
      <button
        class="btn btn-primary float-right addToCart"
        onclick="addItem(document.getElementsByClassName('item-img')[4].id)"
      >
        <i class="typcn typcn-plus"></i>
      </button>
      <div class="card-title h6">Item Name</div>
      <div class="card-subtitle text-small text-gray">Vendor Name</div>
    </div>
    <div class="popover popover-top">
      <div class="card-body text-italic text-small">
        Made from 100% vegan materials.
      </div>
      <div class="popover-container">
        <div class="card">
          <div class="card-body text-small">
            Tart dessert fruitcake gummi bears sweet roll. Chocolate bear claw
            candy. Chocolate bar liquorice macaroon pudding sesame snaps candy
            sweet roll. Topping gummies donut chupa chups soufflé lollipop
            topping cake candy canes.
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <small class="text-small text-italic text-gray"
          >Hover for more info.</small
        >
      </div>
    </div>
  </div>
</div>
<div class="col-4 col-mx-auto py-2 px-2">
  <div class="card">
    <div class="card-image">
      <img
        id="item6"
        src="https://images-na.ssl-images-amazon.com/images/I/81qTAErL4RL._AC_SL1500_.jpg"
        class="img-responsive img-fit-contain p-centered item-img"
      />
    </div>
    <div class="card-header">
      <button
        class="btn btn-primary float-right addToCart"
        onclick="addItem(document.getElementsByClassName('item-img')[5].id)"
      >
        <i class="typcn typcn-plus"></i>
      </button>
      <div class="card-title h6">Item Name</div>
      <div class="card-subtitle text-small text-gray">Vendor Name</div>
    </div>
    <div class="popover popover-top">
      <div class="card-body text-italic text-small">
        Made from 100% vegan materials.
      </div>
      <div class="popover-container">
        <div class="card">
          <div class="card-body text-small">
            Lollipop biscuit muffin macaroon marzipan. Carrot cake cupcake gummi
            bears lemon drops pastry biscuit. Pastry dessert jelly wafer toffee
            gummi bears topping jelly-o.
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <small class="text-small text-italic text-gray"
          >Hover for more info.</small
        >
      </div>
    </div>
  </div>
</div>
